<!--
template for card to be used before being published
-->

<div class="title">
	<div class="floatright">
		<a class="delete" href="#" data-toggle="tooltip" data-placement="top" title="verwijderen"><i class="fa fa-trash-o fa-lg"></i></a>
	</div>
	<i class="fa fa-lg fa-fw" data-ng-class="getFileType(md)" style="vertical-align: 12%"></i>
	<span>{{getFileName(md)}}</span>
</div>
<div class="message alert-success" data-ng-show="getStatus(md)=='publish'">
	<button type="button" class="btn btn-default btn-sm floatright"><i class="fa fa-share fa-fw"></i>Publiceren</button>
	<i class="fa fa-check fa-fw" style="font-size:1em; margin-right: 4px"></i>Data is klaar om te worden gedeeld.
</div>
<div class="message alert-info" data-ng-show="getStatus(md)=='metadataMissing'">
	<i class="fa fa-pencil fa-fw" style="font-size:1em; margin-right: 4px"></i>Voltooi de dataset informatie om te kunnen publiceren.
</div>
<div class="message alert-danger" data-ng-show="getStatus(md)=='error'">
	<i class="fa fa-exclamation-triangle fa-fw" style="font-size:1em; margin-right: 4px"></i>Upload fout. Klik hier voor meer informatie.
</div>