<!--
template for card to be used after being published
-->

<div class="row">
    <div class="col-md-2 card-thumbnail">
        <img src="https://placehold.it/75x75" />
    </div>
    <div class="col-md-10">
        <div class="title">
            <div class="floatright"> 
		        <a class="delete" data-tooltip="{{'tooltip.remove' | translate}}"  title="{{'tooltip.remove' | translate}}" 
				data-ng-click="showDeleteConfirm(md, $event)"><i class="fa fa-trash-o fa-lg"></i></a> 
            </div> 
            <span>{{md.title}}</span>
        </div>
        <p>{{md.summary | words:18 }}</p>
        <div class="filename">
            <i class="fa fa-lg fa-fw" data-ng-class="getFileType(md)" style="vertical-align: 12%"></i>
            <span>{{getFileName(md)}}</span>
            <span class="floatright">{{md.changeDate | date:'dd-MM-yyyy' }}</span>

        </div>

    </div>
</div>
