    <div class="floatright">
        <ul>
            <li><a href="https://www.pdok.nl/nl/over-pdok/uw-speciale-aandacht/copyright">Copyright</a></li>
            <li><a href="https://www.pdok.nl/nl/over-pdok/uw-speciale-aandacht/privacy">Privacy</a></li>
            <li><a href="https://www.pdok.nl/nl/cookies">Cookies</a></li>
            <li><a href="https://pdok.nl/sites/default/files/bibliotheek/pdc_pdok_geodatastore_2015_v1.0.pdf">Disclaimer</a></li>
            <li class="last"><a href="https://www.pdok.nl/nl/over-pdok/uw-speciale-aandacht/open-data">Open Data</a></li>
        </ul>
    </div>
	<span class="hidden-xs">
    © Publieke Dienstverlening Op de Kaart (PDOK) 2015
	</span>
