<!--
template for metadata form
-->

<form id="metadataForm" method="POST" enctype="multipart/form-data" data-file-upload="datasetEditOptions"
	  data-ng-controller="GdsEditMetadataController" name="editMdForm">
	<div ng-show="mdToEdit.saved">
		<br/><br/><br/><br/>
		<h2><i class="fa fa-check fa-fw"></i> Data succesfully updated.</h2>
		<br/><br/><br/><br/>
	</div>
    <div class="form-group" data-ng-show="tab === 'published'">
        <label>Permalink</label>
        <div class="clearfix"></div>
        <a data-ng-href="mdToEdit.url">{{mdToEdit.url}}</a>

    </div>
	<div class="form-group">
		<label for="titleField">{{'title'|translate}}</label>
		<input class="form-control" id="titleField" tabindex="1" data-ng-model="mdToEdit.title" placeholder="{{'placeholderTitleField'|translate}}" />
	</div>
	<div class="form-group">
		<label for="abstractField">{{'abstract'|translate}}</label>
		<textarea rows="5" class="form-control" id="abstractField" data-ng-model="mdToEdit.summary" tabindex="2"
				  placeholder="{{'placeholderAbstractField'|translate}}"></textarea>
	</div>
	<div class="form-group">
		<label for="topic">{{'topic'|translate}}</label>
		<select class="form-control" id="topic" tabindex=3 data-ng-model="mdToEdit.topicCategory">
			<option value="null">{{'placeholderTopicField'|translate}}</option>
			<option value="imageryBaseMapsEarthCover">Luchtfoto / Dekking van de Aarde</option>
			<option value="inlandWaters">Binnenwateren</option>
			<option value="biota">Biota (flora, fauna, habitat)</option>
			<option value="economy">Economie</option>
			<option value="geoscientificInformation">Geo-wetenschappelijke informatie</option>
			<option value="health">Gezondheid</option>
			<option value="boundaries">Grenzen</option>
			<option value="intelligenceMilitary">Inlichtingen / Defensie</option>
			<option value="climatologyMeteorologyAtmosphere">Klimatologie / Meteorologie</option>
			<option value="farming">Landbouw</option>
			<option value="location">Locatie</option>
			<option value="society">Maatschappij</option>
			<option value="environment">Milieu</option>
			<option value="oceans">Oceanen</option>
			<option value="planningCadastre">Planning / Kadaster</option>
			<option value="structure">Structuur</option>
			<option value="utilitiesCommunication">Nuts diensten / Communicatie</option>
			<option value="elevation">Hoogte</option>
			<option value="transportation">Vervoer</option>
		</select>
	</div>
	<div class="form-group">
		<label for="tw">{{'keywords'|translate}}</label>
		<bootstrap-tagsinput id="tw" tabindex="4" placeholder="{{'placeholderKeywordsField'|translate}}"
			   data-ng-model="mdToEdit.keywords"></bootstrap-tagsinput>
	</div>
	<div class="form-group">
		<label for="lineage">{{'lineage'|translate}}</label>
		<textarea rows="4" class="form-control" id="lineage" data-ng-model="mdToEdit.lineage" tabindex="5"  placeholder="{{'placeholderLineageField'|translate}}"></textarea>
	</div>
	<div class="form-group">
		<label for="location">{{'location'|translate}}</label>
        <input id="location" tabindex="6" data-ng-model="mdToEdit.location" placeholder="{{'placeholderLocationField'|translate}}"
               data-uri-model="mdToEdit.locationUri"
               class="form-control" data-gds-keyword-picker data-thesaurus-key="external.place.administrativeAreas"/>
<!--
		<input class="form-control" id="location" tabindex=6 data-ng-model="mdToEdit.location" placeholder="{{'placeholderLocationField'|translate}}">
-->
	</div>
	<div class="form-group">
		<label for="license">{{'license'|translate}}</label>
		<select class="form-control" id="license" tabindex=7 data-ng-model="mdToEdit.license"
                data-ng-options="item.value as item.label for item in licenseList">
			<option value="">{{'placeholderLicenseField'|translate}}</option>
		</select>
	</div>
	<!--<div class="form-group">
		<label for="useLimitation">{{'useLimitation'|translate}}</label>-->
		<input type=hidden" value="Geen beperkingen" class="form-control" id="useLimitation" data-ng-model="mdToEdit.useLimitation" />
	<!--</div>-->
	<div class="form-group">
		<label for="resolution">{{'scale'|translate}}</label>
		<select class="form-control" id="resolution" tabindex=9 data-ng-model="mdToEdit.resolution"
                data-ng-options="item.value as item.label for item in resolutionList">
			<option value="">{{'placeholderScaleField'|translate}}</option>
		</select>
	</div>
	<div class="form-group">
		<label for="thumbnailUploadButton">{{'thumbnail'|translate}}</label>
		<div id="thumbnailDropZone">
            <div>
                <span class="btn btn-default btn-sm fileinput-button" data-ng-class="{disabled: disabled}">
                    <i class="fa fa-folder-open-o fa-fw"></i>
                    <span>Selecteer een bestand</span>
                    <input type="file" id="thumbnailUploadButton" name="thumbnail" data-ng-disabled="disabled" placeholder="{{'placeholderThumbnailField'|translate}}">
                </span>
            </div>
		</div>
        <ul>
            <li data-ng-repeat="file in queue" data-ng-class="{'processing': file.$processing()}">
                <div data-ng-switch data-on="!!file.thumbnailUrl">
                    <div class="preview" data-ng-switch-when="true">
                        <a data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery><img data-ng-src="{{file.thumbnailUrl}}" alt=""></a>
                    </div>
                    <div class="preview" data-ng-switch-default data-file-upload-preview="file"></div>
                </div>
                <div class="floatright" >
                    <a data-tooltip="{{'tooltip.interrupt' | translate}}"
                       title="onderbreken" data-ng-click="file.$cancel()">
                        <i class="fa fa-times fa-lg"></i>
                    </a>
                </div>
                <div>
                    <p class="name" data-ng-switch data-on="!!file.url">
                        <span data-ng-switch-when="true" data-ng-switch data-on="!!file.thumbnailUrl">
                            <a data-ng-switch-when="true" data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery>{{file.name}}</a>
                            <a data-ng-switch-default data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}">{{file.name}}</a>
                        </span>
                        <span data-ng-switch-default>{{file.name}}</span>
                    </p>
                    <strong data-ng-show="file.error" class="error text-danger">{{file.error}}</strong>
                </div>
            </li>
        </ul>
	</div>
	<div class="form-group metadataFormButtons">
		<div class="floatright">
			<button type="button" id="removeFormButton" class="btn btn-default btn-sm" data-ng-click="showDeleteConfirm(mdToEdit, $event)"><i class="fa fa-trash-o fa-fw"></i>{{'remove'|translate}}</button>
			<button type="button" id="publishFormButton" data-ng-disabled="editMdForm.$dirty || !mdToEdit.$publishable"
					class="btn btn-default btn-sm" ng-show="tab=='upload'" data-gn-click-and-spin="publishMetadata(mdToEdit)"><i class="fa fa-share fa-fw"></i>{{'publish'|translate}}</button>
			<button type="button" id="saveFormButton" class="btn btn-default btn-sm" data-gn-click-and-spin="processSubmit()"
					data-ng-disabled="editMdForm.$pristine && editMdForm.$valid"><i class="fa fa-floppy-o fa-fw"></i>{{'save'|translate}}</button>
		</div>
	</div>
</form>
