<div data-ng-controller="geoDataStoreMainController"
     xmlns="http://www.w3.org/1999/html">
    <div data-ng-if="authenticated">
        <div data-ng-include="'../../catalog/views/geodatastore/templates/upload.html'"></div>

    </div>
    <div data-ng-if="!authenticated">
        <div data-ng-include="'../../catalog/views/geodatastore/templates/signin_geodatastore.html'"></div>

    </div>
</div>

<script type="text/javascript" language="JavaScript">
   var browserSupported = Modernizr && Modernizr.filereader && Modernizr.blobconstructor;
    if (!browserSupported) {
        window.location.replace('../../catalog/views/geodatastore/templates/nonSupportedBrowser.html');
    }
</script>
