<div class="container"
     xmlns="http://www.w3.org/1999/html">
    <nav class="verytop">
        <div class="floatright">
            <ul>
                <li><a href="#">Contact</a></li>
                <li class="last"><a href="#">Help</a></li>
            </ul>
        </div>
        <ul>
            <li class="first"><a href="#"><i class="fa fa-print"></i>Print</a></li>
        </ul>
    </nav>
    <div class="page">
        <header>
            <div class="branding">
                <a href="#" title="Ga naar de homepagina"><img height="57px"
                                                               src="../../catalog/views/geodatastore/images/PDOK-GDS-logo.svg"
                                                               alt="Publieke Dienstverlening Op de Kaart"></a>
            </div>
        </header>
        <nav class="tabs">

        </nav>
        <div data-ng-controller="GdsLoginController" style="padding:15px">
            <div class="row top-buffer">
                <div class="col-md-2 col-md-offset-5 text-center login-logo">
                    <i class="fa fa-cloud-upload fa-10x"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center lead">
                    <span data-translate>login-description-first</span>
                    <a href="http://www.nationaalgeoregister.nl/geonetwork" data-translate>login-ngr-link</a>
                    <span data-translate>login-and</span> <a href="http://data.overheid.nl" data-translate>login-overheid-link</a>
					.
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 bottom-buffer">
                      <form name="gnSigninForm"  action="../../j_spring_security_check" method="post"
                          role="form" data-ng-if="user['@authenticated'] != 'true'" >
                        <input type="hidden" name="redirectUrl" value="{{redirectUrl}}"/>
                        <div class="row">
							<div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label"
                                       for="inputUsername">Gebruikersnaam</label>
                                <input type="text" class="form-control" id="inputUsername" name="username" autofocus=""/>
				</div>
                            </div>
							
			  <div class="col-md-6">
                            <div class="form-group">
								
                                <label class="control-label"
                                       for="inputPassword">Wachtwoord</label>

                                <input type="password" class="form-control" id="inputPassword" name="password"/>
                            </div>
			  </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <a href="http://nationaalgeoregister.nl/geonetwork/srv/dut/search#hoekaniktoevoegen" target="_blank">Account aanvragen</a>
                                <button type="submit" class="btn btn-primary pull-right">
                                    <i class="fa fa-signin"/>
                                    <span>Inloggen</span>
                                </button>
                            </div>
                        </div>
                        <div class="row top-buffer">
                            <div class="col-xs-12">
                                <p class="alert alert-danger" data-ng-show="signinFailure">
                                    <strong data-translate="">signinFailure</strong>

                                </p>
                            </div>
                        </div>
                    </form>
                    
                </div>



            </div>

        </div>
    </div>
    <footer data-ng-include="'../../catalog/views/geodatastore/templates/footer.html'">

    </footer>
</div>
</div>
