<html lang="en" xmlns="http://www.w3.org/1999/html">

<div id="upload">
    <div  class="container">
        <nav class="verytop">
            <div class="floatright">
                <ul>
                    <li><a href="https://www.pdok.nl/nl/over-pdok/contact-met-pdok" target="_blank">Contact</a></li>
                    <li class="last"><a href="../../catalog/views/geodatastore/PDOKGeodatastoreInstructie.pdf" target="_blank">Help</a></li>
                </ul>
            </div>
            <ul>
                <li class="first"><a href="javascript:return void(document.print())"><i class="fa fa-print"></i>Print</a></li>
            </ul>

        </nav>
        <div class="page">
            <header>
                <div class="topdrop">
                    <div class="floatright">
                        <i class="fa fa-cloud-upload fa-5x floatright"></i><h4>Nieuwe dataset uploaden</h4>
                    </div>
                </div>
                <div class="branding">
                    <a href="#" title="Ga naar de homepagina"><img height="57px" src="../../catalog/views/geodatastore/images/PDOK-GDS-logo.svg" alt="Publieke Dienstverlening Op de Kaart"></a>
                </div>
            </header>
            <nav class="tabs">
                <div class="floatright userlog">
                    <div class="user floatright">{{user.name}} {{user.surname}}</div><br/>
                    <div class="log floatright"><a href="../../j_spring_security_logout" title="Afmelden"><i class="fa fa-power-off"></i>Uitloggen</a></div>
                </div>
                <ul class="nav nav-tabs">
                    <li role="presentation" data-ng-class="{active: tab == 'upload'}" class="first"><a href data-ng-click="setTab('upload')" >Mijn publiceerbare datasets <span class="badge">{{totalNotPublished + GdsUploadFactory.list.length}}</span></a></li>
                    <li role="presentation" data-ng-class="{active: tab == 'published'}" ><a href data-ng-click="setTab('published')">Mijn gepubliceerde datasets <span class="badge">{{totalPublished}}</span></a></li>
                </ul>
            </nav>
            <section>
                <form action="../../geodatastore/api/dataset" method="POST" enctype="multipart/form-data" data-file-upload="datasetUploadOptions"
                        data-ng-class="{'fileupload-processing': processing() || loadingFiles}" data-ng-controller="GdsFileUploadController">
                    <!-- Select file button  and dropzone -->
                    <div id="dropzone" class="fade" data-gds-drop-zone data-ng-show="tab=='upload'">
                        <div class="floatright">
                            <i class="fa fa-cloud-upload fa-4x floatright"></i>
                        </div>
                        <div>Sleep de bestanden hier op of<br/>
                                <span class="btn btn-default btn-sm fileinput-button" data-ng-class="{disabled: disabled}">
                                    <i class="fa fa-folder-open-o fa-fw"></i>
                                    <span>selecteer bestanden</span>
                                    <input type="file" name="dataset" multiple data-ng-disabled="disabled">
                                </span>
                        </div>
                    </div>
                    <ol id="selectable">
                       <!-- List of files in queue -->
                       <li data-ng-repeat="file in queue" data-ng-class="{'processing': file.$processing()}">
                           <div class="arrow-left" data-ng-show="file == mdSelected"></div>
						   <div class="title">
                               <div class="floatright" >
                                   <a class="delete" href="#" data-toggle="tooltip" data-placement="top"
                                      title="onderbreken" data-ng-click="file.$cancel()" data-ng-hide="!file.$cancel">
                                       <i class="fa fa-times fa-lg"></i>
                                   </a>
                               </div>
                               <i class="file-icon fa fa-lg fa-fw"  data-ng-class="GdsUploadFactory.getFileIcon(file.type)"></i>
                               <span class="name">{{file.name}}</span>
                               <span class="size">({{file.size | formatFileSize}})</span>
                               <div data-ng-show="file.error" data-ng-click="setMD(file)" class="message alert-danger"><i class="fa fa-exclamation-triangle fa-fw" style="font-size:1em; margin-right: 4px"></i>Upload fout. Klik hier voor meer informatie ({{file.error}}).</div>
                           </div>
                           <div class="progress progress-bar-striped progress-bar-inqueue active fade" data-ng-class="{'pending': 'in'}[file.$state()]"
                                data-file-upload-progress="file.$progress()" style="width: 100%">
                               <div class="progress-bar progress-bar-striped progress-bar-success"
                                    data-ng-style="{width: num + '%'}">
                               </div>
                           </div>
                       </li>
                       <!-- Files uploaded since page reload -->
                       <li data-ng-repeat="file in GdsUploadFactory.list" data-ng-click="setMD(file)" data-ng-class="setBackground(file)">
                           <div class="arrow-left" data-ng-show="file == mdSelected"></div>
                           <div class="title">
                               <div class="floatright">
                                   <a class="delete" href="#" data-toggle="tooltip" data-placement="top" title="verwijderen"><i class="fa fa-trash-o fa-lg"></i></a>
                               </div>
                               <i class="fa fa-lg fa-fw" data-ng-class="GdsUploadFactory.getFileIcon(file)" style="vertical-align: 12%"></i>
                               <span>{{getFileName(file)}}</span>
                           </div>
                           <div class="message alert-info">
                               <i class="fa fa-pencil fa-fw" style="font-size:1em; margin-right: 4px"></i>Voltooi de dataset informatie om te kunnen publiceren.
                           </div>
                       </li>

                       <!--  Files recovered from search service -->
					   <li data-ng-repeat="md in searchResults.metadata" data-ng-click="setMD(md)" data-ng-class="setBackground(md)" >
                            <div class="arrow-left" data-ng-show="md.identifier == mdSelected.identifer"></div>
							<div data-ng-include="'../../catalog/views/geodatastore/templates/cardPublished.html'"  data-ng-show="tab == 'published'"></div>
							<div data-ng-include="'../../catalog/views/geodatastore/templates/cardUpload.html'" data-ng-show="tab == 'upload'"></div>
						</li>
                    </ol>
                </form>
                <div>
                    <nav class="floatright">
                        <ul class="pagination">
                            <li ng-class="{'disabled':page==1}">
                                <a href="#" aria-label="Previous" data-ng-click="updateResults(page-1)">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
							
							<li ng-repeat="i in pages track by $index" ng-class="{'active': page==$index+1}"><a href="#" data-ng-click="updateResults($index+1)">{{$index+1}}</a></li>
							
                            <li ng-class="{'disabled':page==pages.length}">
                                <a href="#" aria-label="Next" data-ng-click="updateResults(page+1)">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <span style="margin-top:6px; display: inline-block;">{{totalNotPublished}} datasets</span>
                </div>
            </section>
            <aside data-ng-switch data-on="hasSelected">
                <div id="metadata" class="fade" data-ng-switch-when="true" data-ng-class="{'in': hasSelected }">
					<div ng-show="mdSelected.error!=''">
						<br/><br/><br/><br/>
						<h2><i class="fa fa-exclamation-triangle fa-fw"></i> Er is iets mis gegaan bij het uploaden van uw bestand, probeer het later nog een keer.</h2>
						
						<p>{{'error-'+mdSelected.error|translate}}</p>
						<br/><br/><br/><br/>
					</div>
					<div data-ng-include="'../../catalog/views/geodatastore/templates/form.html'" ng-hide="mdSelected.error||mdSelected.$processing()"></div>
                </div>
                <div data-ng-switch-default class="padding-25 padding-top-10em">
                    <p class="h2 text-center" ng-show="tab=='upload'">Vul informatie over een dataset in alvorens deze te delen.</p>
					<p class="h2 text-center" ng-show="tab=='published'">U kunt de informatie over een dataset wijzigen, ook nadat deze gepubliceerd is.</p>
                    <p class="h3 text-center">Selecteer een bestand uit de linker kolom om deze te bewerken.</p>
                    <p class="text-center" aria-label="Left arrow"><i class="fa fa-arrow-left fa-4x"></i></i></p>
                </div>
            </aside>
            <div class="clearfix"></div>
        </div>
        <footer data-ng-include="'../../catalog/views/geodatastore/templates/footer.html'">

        </footer>
    </div>
</div>





