<html lang="en" xmlns="http://www.w3.org/1999/html">

<div id="upload">
    <div  class="container">
        <nav class="verytop">
            <div class="floatright">
                <ul>
                    <li><a href="#">Contact</a></li>
                    <li class="last"><a href="#">Help</a></li>
                </ul>
            </div>
            <ul>
                <li class="first"><a href="#"><i class="fa fa-print"></i>Print</a></li>
            </ul>

        </nav>
        <div class="page">
            <header>
                <div class="topdrop">
                    <div class="floatright">
                        <i class="fa fa-cloud-upload fa-5x floatright"></i><h4>Nieuwe dataset uploaden</h4>
                    </div>
                </div>
                <div class="branding">
                    <a href="#" title="Ga naar de homepagina"><img height="57px" src="../../catalog/views/geodatastore/images/PDOK-GDS-logo.svg" alt="Publieke Dienstverlening Op de Kaart"></a>
                </div>
            </header>
            <nav class="tabs">
                <div class="floatright userlog">
                    <div class="user floatright">{{user.name}} {{user.surname}}</div><br/>
                    <div class="log floatright"><a href="../../j_spring_security_logout" title="Afmelden"><i class="fa fa-power-off"></i>Uitloggen</a></div>
                </div>
                <ul class="nav nav-tabs">
                    <li role="presentation" class="first active"><a href="index.html">Mijn publiceerbare datasets <span class="badge">44</span></a></li>
                    <li role="presentation"><a href="overview.html">Mijn gepubliceerde datasets <span class="badge">4</span></a></li>
                </ul>
            </nav>
            <section>
                <form action="../../geodatastore/api/dataset" method="POST" enctype="multipart/form-data" data-file-upload="datasetUploadOptions"
                        data-ng-class="{'fileupload-processing': processing() || loadingFiles}" data-ng-controller="GdsFileUploadController">
                   <ol id="selectable">
                       <!-- Select file button  and dropzone -->
                        <li id="dropzone" class="fade" data-gds-drop-zone>
                            <div class="floatright">
                                <i class="fa fa-cloud-upload fa-4x floatright"></i>
                            </div>
                            <div>Sleep de bestanden hierop of<br/>
                                <span class="btn btn-default btn-sm fileinput-button" data-ng-class="{disabled: disabled}">
                                    <i class="fa fa-folder-open-o fa-fw"></i>
                                    <span>selecteer bestanden</span>
                                    <input type="file" name="files[]" multiple data-ng-disabled="disabled">
                                </span>
                            </div>
                        </li>
                       <!-- List of files in queue -->
                       <li data-ng-repeat="file in queue" data-ng-class="{'processing': file.$processing()}">
                           <div class="arrow-left"></div>
                           <div class="title">
                               <div class="floatright" >
                                   <a class="delete" href="#" data-toggle="tooltip" data-placement="top"
                                      title="onderbreken" data-ng-click="file.$cancel()" data-ng-hide="!file.$cancel">
                                       <i class="fa fa-times fa-lg"></i>
                                   </a>
                               </div>
                               <i class="file-icon fa fa-lg fa-fw"  data-ng-class="GdsUploadFactory.getFileIcon(file)"></i>
                               <span class="name">{{file.name}}</span>
                               <span class="size">({{file.size | formatFileSize}})</span>
                               <div data-ng-show="file.error" class="message alert-danger"><i class="fa fa-exclamation-triangle fa-fw" style="font-size:1em; margin-right: 4px"></i>Upload fout. Klik hier voor meer informatie ({{file.error}}).</div>
                           </div>
                           <div class="progress progress-bar-striped progress-bar-inqueue active fade" data-ng-class="{'pending': 'in'}[file.$state()]"
                                data-file-upload-progress="file.$progress()" style="width: 100%">
                               <div class="progress-bar progress-bar-striped progress-bar-success"
                                    data-ng-style="{width: num + '%'}">
                               </div>
                           </div>
                       </li>
                       <!-- Files uploaded since page reload -->
                       <li data-ng-repeat="file in GdsUploadFactory.list" data-ng-click="setMD(file)" data-ng-class="setBgNewFile(file)">
                           <div class="arrow-left" data-ng-show="file == mdSelected"></div>
                           <div class="title">
                               <div class="floatright">
                                   <a class="delete" href="#" data-toggle="tooltip" data-placement="top" title="verwijderen"><i class="fa fa-trash-o fa-lg"></i></a>
                               </div>
                               <i class="fa fa-lg fa-fw" data-ng-class="GdsUploadFactory.getFileIcon(file)" style="vertical-align: 12%"></i>
                               <span>{{getFileNameForNewFiles(file)}}</span>
                           </div>
                           <div class="message alert-info">
                               <i class="fa fa-pencil fa-fw" style="font-size:1em; margin-right: 4px"></i>Voltooi de dataset informatie om te kunnen publiceren.
                           </div>

                       </li>


					   <li data-ng-repeat="md in searchResults.records" data-ng-click="setMD(md)" data-ng-class="setBG(md)" >
                            <div class="arrow-left" data-ng-show="md==mdSelected"></div>
                            <div class="title">
                                <div class="floatright">
                                    <a class="delete" href="#" data-toggle="tooltip" data-placement="top" title="verwijderen"><i class="fa fa-trash-o fa-lg"></i></a>
                                </div>
                                <i class="fa fa-lg fa-fw" data-ng-class="getFileType(md)" style="vertical-align: 12%"></i>
                                <span>{{getFileName(md)}}</span>
                            </div>
                            <div class="message alert-success" data-ng-show="getStatus(md)=='publish'">
                                <button type="button" class="btn btn-default btn-sm floatright"><i class="fa fa-share fa-fw"></i>Publiceren</button>
                                <i class="fa fa-check fa-fw" style="font-size:1em; margin-right: 4px"></i>Data is klaar om te worden gedeeld.
                            </div>
							<div class="message alert-info" data-ng-show="getStatus(md)=='metadataMissing'">
								<i class="fa fa-pencil fa-fw" style="font-size:1em; margin-right: 4px"></i>Voltooi de dataset informatie om te kunnen publiceren.
                            </div>
							<div class="message alert-danger" data-ng-show="getStatus(md)=='error'">
								<i class="fa fa-exclamation-triangle fa-fw" style="font-size:1em; margin-right: 4px"></i>Upload fout. Klik hier voor meer informatie.
                            </div>
						</li>
                    </ol>
                </form>
                <div>
                    <nav class="floatright">
                        <ul class="pagination">
                            <li class="disabled">
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="active" data-ng-click="updateResults(1)"><a href="#">1</a></li>
                            <li><a href="#" data-ng-click="updateResults(2)">2</a></li>
                            <li><a href="#" data-ng-click="updateResults(3)">3</a></li>
                            <li class="disabled"><a href="#">...</a></li>
                            <li><a href="#" data-ng-click="updateResults(9)">9</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <span style="margin-top:6px; display: inline-block;">{{total}} datasets</span>
                </div>
            </section>
            <aside>
                <div id="metadata" class="fade" ng-show="hasSelected" data-ng-class="{'in': hasSelected }">
                    <form>
                        <div class="form-group">
                            <label for="tt">Titel</label>
                            <input class="form-control" id="tt" tabindex="1" ng-model="mdSelected.defaultTitle">
                        </div>
                        <div class="form-group">
                            <label for="os">Omschrijving</label>
                            <textarea rows="5" class="form-control" id="os" ng-model="mdSelected.abstract" tabindex=2></textarea>
                        </div>
                        <div class="form-group">
                            <label for="ow">Onderwerp</label>
                            <select class="form-control" id="ow" tabindex=3  ng-model="mdSelected.topicCat[0]" >
                                <option>Selecteer</option>
                                <option value="imageryBaseMapsEarthCover">Luchtfoto / Dekking van de Aarde</option>
                                <option value="inlandWaters">Binnenwateren</option>
                                <option value="biota">Biota (flora, fauna, habitat)</option>
                                <option value="economy">Economie</option>
                                <option value="geoscientificInformation">Geo-wetenschappelijke informatie</option>
                                <option value="health">Gezondheid</option>
                                <option value="boundaries">Grenzen</option>
                                <option value="intelligenceMilitary">Inlichtingen / Defensie</option>
                                <option value="climatologyMeteorologyAtmosphere">Klimatologie / Meteorologie</option>
                                <option value="farming">Landbouw</option>
                                <option value="location">Locatie</option>
                                <option value="society">Maatschappij</option>
                                <option value="environment">Milieu</option>
                                <option value="oceans">Oceanen</option>
                                <option value="planningCadastre">Planning / Kadaster</option>
                                <option value="structure">Structuur</option>
                                <option value="utilitiesCommunication">Nuts diensten / Communicatie</option>
                                <option value="elevation">Hoogte</option>
                                <option value="transportation">Vervoer</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="tw">Trefwoorden</label>
                            <input class="form-control" id="tw" placeholder="komma gescheiden lijst" tabindex=4 >
                        </div>
                        <div class="form-group">
                            <label for="bh">Beschrijving herkomst</label>
                            <input class="form-control" id="bh" tabindex=5  ng-model="mdSelected.lineage">
                        </div>
                        <div class="form-group">
                            <label for="lk">Lokatie</label>
                            <input class="form-control" id="lk" tabindex=5 ng-model="mdSelected.location">
                        </div>
                        <div class="form-group">
                            <label for="odl">Open Data Licentie</label>
                            <select class="form-control" id="odl" tabindex=7  ng-model="mdSelected.legalConstraints[1]">
                                <option value="PublicDomain">Public Domain</option>
                                <option value="CC0">CC0 (Creative Commons)</option>
                                <option value="CC-BY">CC-BY (Creative Commons Naamsvermelding)</option>
                            </select>
                        </div>
                        <div class="form-group"  ng-model="mdSelected.usageConstraints">
                            <label for="gb">Gebruiksbeperkingen</label>
                            <input class="form-control" id="gb" tabindex=5 value="">
                        </div>
                        <div class="form-group">
                            <label for="tps">Toepassingsschaal</label>
                            <select class="form-control" id="tps" tabindex=9  ng-model="mdSelected.resolution[0]">
                                <option value="1000000">Landelijk</option>
                                <option value="100000">Provinciaal</option>
                                <option value="25000">Gemeentelijk</option>
                                <option value="10000">Wijkniveau</option>
                                <option value="2500">Straatniveau</option>
                                <option value="500">Huis</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputFile">Afbeelding</label>
							<!-- todo: show a preview of the uploaded image -->
                            <div><button type="button" id="upload" class="btn btn-default btn-sm floatright"><i class="fa fa-cloud-upload fa-fw"></i></button><input class="form-control" type="file" id="exampleInputFile" style="width:85%"  ng-model="mdSelected.image[0]"></div>
                        </div>
                        <div class="form-group" style="border-top: solid 1px; padding-top: 15px;">
                            <div class="floatright">
                                <button type="button" id="upload" class="btn btn-default btn-sm "><i class="fa fa-trash-o fa-fw"></i>Verwijderen</button>
                                <button disabled="disabled" type="button" id="upload" class="btn btn-default btn-sm "><i class="fa fa-share fa-fw"></i>Publiceren</button>
                                <button type="button" id="upload" class="btn btn-default btn-sm"><i class="fa fa-floppy-o fa-fw"></i>Opslaan</button>
                            </div>
                        </div>
                    </form>
                </div>
            </aside>
            <div style="clear:both"></div>
        </div>
        <footer data-ng-include="'../../catalog/views/geodatastore/templates/footer.html'">

        </footer>
    </div>
</div>





