[submodule "e2e-tests/chromedriver"]
	        path = e2e-tests/chromedriver
		        url = http://github.so.kadaster.nl/NGR/chromedriver.git
[submodule "web-ui/src/main/resources/catalog/lib/style/bootstrap"]
	        path = web-ui/src/main/resources/catalog/lib/style/bootstrap
		        url = http://github.so.kadaster.nl/NGR/bootstrap.git
[submodule "web-ui/src/main/resources/catalog/lib/style/font-awesome"]
	        path = web-ui/src/main/resources/catalog/lib/style/font-awesome
		        url = http://github.so.kadaster.nl/NGR/Font-Awesome.git
[submodule "geodatastore"]
	        path = geodatastore
		        url = http://github.so.kadaster.nl/NGR/geodatastore.git