@import "gn_search_ngr.less";
@import "../../../style/gn_editor";

.gn-editor-container form { background-color:white; }
.gn-editor-board { background-color:white; }
#gn-new-metadata-container { background-color:white; }

@import "gn_view_ngr.less";