<div class="container" id="gn-new-metadata-container">
  <h2 data-translate="">{{title}}</h2>

  <div class="alert alert-warning" data-ng-hide="hasTemplates" 
    data-translate="">noTemplatesAvailable</div>

  <div class="progress progress-striped active"
    data-ng-show="hasTemplates && mdList === null">
    <div class="progress-bar" style="width: 100%"/>
  </div>

  <div class="row" data-ng-show="hasTemplates">
    <div class="col-xs-12">
      <h4>Type</h4>
          <div class="gn-record-type" data-ng-repeat="type in mdTypes" >
		  <input type="radio" name="gn-record-tpl" id="radio-{{type}}" value="{{type}}"
              
              data-ng-click="getTemplateNamesByType(type)"
              data-ng-checked="type==activeType" />
              <label for="radio-{{type}}">
                {{type | translate}}
              </label>
           
     
      </div>
    </div>
      <div class="col-xs-12">
          <h4><span data-translate="">fromTemplate
          <strong>{{(activeTpl.title || '...') | translate}}</strong></h4>

          <div data-ng-repeat="tpl in tpls">
            <input type="radio" name="gn-record-type" id="radio-{{type}}" value="{{type}}"
              data-ng-click="setActiveTpl(tpl)"
              data-ng-checked="tpl==activeTpl" />
			  <label for="radio-{{tpl}}">{{tpl.title || tpl.defaultTitle}}</label>
      </div>
    </div>
    <div class="col-xs-12" data-ng-show="groups && groups.length > 1">
      <div class="col-xs-12">
		  <h4><span data-translate="">inGroup</span>
          <strong>{{(ownerGroup.label[lang] || '...') | translate}}</strong></h4>
        
		
          <div data-groups-combo="" data-owner-group="ownerGroup" lang="lang"
               data-groups="groups" data-profile="Editor" data-exclude-special-groups="true"/>
    
      </div>
    </div>
    <div class="col-xs-12" data-ng-show="hasTemplates && !generateUuid">
      <h4>
          <span data-translate="">createMetadataUniformResourceName</span>
        </h4>
            <div class="form-group">
              <label for="mdIdentifierTemplates" data-translate="">template</label>
              <select id="mdIdentifierTemplates" name="mdIdentifierTemplates" data-ng-model="mdIdentifierSelectedTemplateId" data-ng-change="updateMdIdentifierTemplate()">
                <option data-ng-repeat="option in mdIdentifierTemplates | orderBy:'id'" value="{{option.id}}">{{option.name}}</option>
              </select>
            </div>
          <div class="form-group">
            <span>{{mdIdSelectedTemplateForLabel}}</span>
          </div>
          <div class="form-group" ng-repeat="(key, val) in mdIdentifierTemplateTokens" data-ng-show="!showCustomMdIdentifierField()">
            <label>{{ val.label }}</label>
            <input type="text" class="form-control" name="{{ val.label }}" data-ng-model="val.value" data-ng-change="updateMdIdentifierTemplateLabel()" />
          </div>
          <div class="form-group" data-ng-show="showCustomMdIdentifierField()">
            <label for="urn" data-translate="">urn</label>
            <input type="text" class="form-control" id="urn" name="urn" data-ng-model="urnCustom" />
          </div>
	</div>
    <div class="col-xs-12" style="padding-top:20px;">
      <div class="btn-group">
        <button type="button" class="btn btn-success btn-lg"
          data-gn-click-and-spin="createNewMetadata()"
          data-ng-class="{'disabled': (!activeType || !activeTpl || !ownerGroup || ((!generateUuid) && (!isMdIdentifierFilled())) )}">
          <i class="fa fa-plus"/>
          <span data-translate="">createMetadata</span>
        </button>
        <button type="button"
                class="btn btn-success btn-lg dropdown-toggle"
                data-ng-class="{'disabled': (!activeType || !activeTpl || !ownerGroup || ((!generateUuid) && (!isMdIdentifierFilled())) )}"
                data-toggle="dropdown">
          <span class="caret"></span>&nbsp;
        </button>
        <ul class="dropdown-menu pull-right" role="menu">
          <li><a
              title="{{'createMetadataForGroup-help' | translate}}"
              data-gn-click-and-spin="createNewMetadata(true)"
              href="" data-translate="">
            createMetadataForGroup</a></li>
        </ul>
    </div>
  </div>

</div>

<div data-ng-include="'../../catalog/templates/info.html'">
</div>
