<div class="container-fluid">
	<div class="row" style="padding-bottom:20px;padding-top:20px;margin:-25px -25px 25px -15px;background-color:#F6D4B1">

		<div class="col-md-3 col-md-offset-2">
			<div class="form-group" class="text-align:left">
				<label for="any" data_translate="">SearchAny</label>
				<input type="text" id="any"
					   class="form-control input-lg"
					   autofocus=""
					   data-ng-model="homeAnyField"
					   data-ng-model-options="modelOptions"
					   placeholder="{{'anyPlaceHolder' | translate}}"
					   data-ng-keyup="$event.keyCode == 13 && goToSearch(homeAnyField)"
					   data-typeahead="address for address in getAnySuggestions($viewValue)"
					   data-typeahead-loading="anyLoading"
					   data-typeahead-min-length="1"/>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group has-feedback">
				<label for="loc" data-translate="">AtLocation</label>
				<select multiple
						class="form-control input-lg"
						id="loc"
						data-ngr-multi-location
						data-thesaurus-key="external.place.administrativeAreas"
						data-bboxes="searchObj.params.bboxes"></select>
				<span class="form-control-feedback">
					<i class="fa fa-map-marker fa-2x"></i>
				</span>
			</div>
		</div>
		<div class="col-md-2">
			<div class="form-group" style="margin-top:25px">
				  <a class="btn btn-primary btn-lg"
						  type="button" data-ng-href="#/search?any={{homeAnyField}}">
					<i class="fa fa-search"></i> {{'search'|translate}}
				  </a>
			</div>
		</div>
	</div>

    <div class="row" style="padding-top:20px">
	<div class="col-sm-12" style="text-align:center"><h3 style="padding-bottom:20px;">Bekijk één van de categorieën</h3></div>
            <div data-ng-repeat="(key, facet) in searchInfo.facet['topicCats']"
                 class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				 <div style="height:40px">
              <a data-ng-href="#/search?topicCat={{facet['@name']}}" style="color:black;font-size:12px" >
                <div class="pull-left"><i class="fa gn-icon gn-icon-{{facet['@name']}} fa-2x fa-fw" style="vertical-align: middle"></i></div>
                <span class="gn-icon-label"><b>{{facet['@label']}}</b></span>
                ({{facet['@count']}})
              </a></div>
            </div>  
    </div>
 <div style="padding-bottom:80px"></div>
</div>
