<div data-ng-controller="GnMdViewController">

<div style="padding:20px;margin:-25px -10px 25px 0px;background-color:#F6D4B1;font-weight:bold">/ Home / Catalogus / {{mdView.current.record.title || mdView.current.record.defaultTitle}}</div>

  <div class="alert alert-warning"
       data-ng-hide="mdView.current.record"
       data-translate=""
       data-translate-values="{uuid: '{{recordIdentifierRequested}}'}">
    recordNotFound
  </div>

  <div class="row gn-md-view"
       data-ng-show="mdView.current.record">
    <button class="btn btn-link"
            data-ng-click="closeRecord(mdView.current.record)">
      <i class="fa fa-angle-left"></i>
      <span><span>{{'backTo' + (fromView || 'search') | translate}}</span></span>
    </button>

    <button class="btn btn-link"
            data-ng-class="mdView.current.index === 0 ? 'disabled' : ''"
            data-ng-show="mdView.records.length > 1"
            data-ng-click="previousRecord()">
      <i class="fa fa-angle-left"></i>
      <span data-translate="">previous</span>
    </button>
    <button class="btn btn-link"
            data-ng-class="mdView.current.index === mdView.records.length-1 ? 'disabled' : ''"
            data-ng-show="mdView.records.length > 1"
            data-ng-click="nextRecord()">
      <span data-translate="">next</span>
      <i class="fa fa-angle-right"></i>
    </button>


    <div class="btn-group pull-right">
      <button type="button" class="btn btn-default dropdown-toggle"
              data-toggle="dropdown"
              aria-expanded="false">
        <i class="fa fa-eye"></i>&nbsp;
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li class="dropdown-header" data-translate="">chooseAView</li>
        <li data-ng-class="currentFormatter === undefined ? 'disabled' : ''">
          <a href="" data-ng-click="format()" data-translate="">defaultView</a>
        </li>
        <li data-ng-repeat="f in formatter.list"
            data-ng-class="f === currentFormatter ? 'disabled' : ''">
          <a href="" data-ng-click="format(f)">{{f.label | translate}}</a>
        </li>
      </ul>
    </div>

    <div class="gn-md-actions-btn pull-right"
         data-gn-md-actions-menu="mdView.current.record"/>

    <a class="btn btn-danger gn-md-delete-btn pull-right"
       data-ng-show="user.canEditRecord(mdView.current.record)"
       data-gn-click-and-spin="deleteRecord(mdView.current.record)"
       data-gn-confirm-click="{{'deleteRecordConfirm' | translate:mdView.current.record}}"
       title="{{'delete' | translate}}">

      <i class="fa fa-times"></i>
    </a>
    <a class="btn btn-primary gn-md-edit-btn pull-right"
       data-ng-show="user.canEditRecord(mdView.current.record)"
       data-ng-href="catalog.edit#/metadata/{{mdView.current.record.getId()}}"
       title="{{'edit' | translate}}">
      <i class="fa fa-pencil"></i>
    </a>

    <div data-ng-show="usingFormatter"
         id="gn-metadata-display"
         class="gn-metadata-display">
    </div>

    <div data-ng-show="!usingFormatter" class="gn-metadata-display">
		
	<div class="row">
		<div class="col-xs-12">
			<h1 style="margin-top:32px;margin-bottom:32px;font-size:42px;font-weight:bold">
			  <i class="fa gn-icon-{{mdView.current.record.type[0]}}"/>
			  {{mdView.current.record.title || mdView.current.record.defaultTitle}} 
			  <span data-gn-metadata-rate="mdView.current.record" style="font-size:24px;"/>
			</h1>
		</div>
	</div>

	

	<div class="row">
      <div class="col-md-8 gn-record">
        
		<div class="row">
		
        <!--<div class="pull-right">
          <i class="fa fa-calendar"></i>&nbsp;
          <span data-translate="">updatedOn</span>
          <span data-gn-humanize-time="{{mdView.current.record['geonet:info'].changeDate}}"
                data-from-now=""></span>
        </div>
        <div style="clear:both"></div>-->

        <div data-ng-bind-html="mdView.current.record.abstract | newlines" style="margin-bottom:32px"></div>

		</div>
		
		<div class="row share-banner">
  		  <div class="col-xs-12">
			
			<div class="pull-right"><a href data-ng-click="onlinesrcService.onOpenPopup('feedback')" class="btn btn-link btn-sm"><i class="fa fa-fw fa-comments-o"></i> Terugmelden</a></div>
            
            <b data-translate="">shareOn</b>:
          
          <a data-ng-href="https://plus.google.com/share?url=//{{$location.host()}}/geonetwork/metadata/{{mdView.current.record['geonet:info'].uuid}}"
             target="_blank"
             class="btn btn-link btn-sm"><i class="fa fa-fw fa-google-plus"></i> Google plus</a>
          <a data-ng-href="https://twitter.com/share?url=//{{$location.host()}}/geonetwork/metadata/{{mdView.current.record['geonet:info'].uuid}}"
             target="_blank"
             class="btn btn-link btn-sm"><i class="fa fa-fw fa-twitter"></i> Twitter</a>
          <a data-ng-href="https://www.facebook.com/sharer.php?u=//{{$location.host()}}/metadata/{{mdView.current.record['geonet:info'].uuid}}"
             target="_blank"
             class="btn btn-link btn-sm"><i class="fa fa-fw fa-facebook"></i> Facebook</a></br>
        

		  </div>
	    </div>
		
		<div class="row">
		
		
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#/metadata/{{mdView.current.record['geonet:info'].uuid}}?tab=general" aria-controls="general" role="tab" data-toggle="tab">Algemeen</a></li>
    <li role="presentation"><a href="#/metadata/{{mdView.current.record['geonet:info'].uuid}}?tab=metadata" aria-controls="metadata" role="tab" data-toggle="tab">Metadata</a></li>
    <li role="presentation"><a href="#/metadata/{{mdView.current.record['geonet:info'].uuid}}?tab=relations" aria-controls="relations" role="tab" data-toggle="tab">Downloads & links <!-- todo: add the number of downloads here --></a></li>
    <li role="presentation"><a href="#/metadata/{{mdView.current.record['geonet:info'].uuid}}?tab=inspire" aria-controls="inspire" role="tab" data-toggle="tab">INSPIRE</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content" style="margin-top:15px">
    <div role="tabpanel" class="tab-pane active" id="general">
	
	<h2 data-translate="">aboutThisResource</h2>
	
	<div class="row" data-ng-if="mdView.current.record.category.length > 0 ||
                      mdView.current.record.topicCat.length > 0">
			<div class="col-md-4" data-translate="">listOfCategories</div>
			<div class="col-md-8">
				<a style="margin-right:3px" data-ng-repeat="cat in mdView.current.record.category"
                   data-ng-href="#/search?_cat={{cat}}">
					
					{{cat | translate}}
                </a>

                <a  style="margin-right:3px" data-ng-repeat="t in mdView.current.record.topicCat"
                   data-ng-href="#/search?topicCat={{t}}">
                  <i class="fa gn-icon-{{t}}"></i>
                    {{t | translate}}
                 
                </a></div>
		</div>
		
		
		<div class="row" data-ng-if="mdView.current.record.keyword">
			<div class="col-md-4" data-translate="">keywords</div>
			<div class="col-md-8">
				<a style="margin-right:3px" data-ng-repeat="k in mdView.current.record.keyword track by $index" href="#/search?any={{k}}">
                    {{k}}</a></div>
		</div>
		
		<div class="row" data-ng-if="mdView.current.record.datasetLang">
			<div class="col-md-4" data-translate="">language</div>
			<div class="col-md-8"><span data-ng-repeat="l in mdView.current.record.datasetLang">
                    {{l | translate}}
                  </span></div>
		</div>
		
		<div class="row" data-ng-if="mdView.current.record.classification_text">
			<div class="col-md-4" data-translate="">classification</div>
			<div class="col-md-8">{{mdView.current.record.classification_text}}</div>
		</div>
		
		<div class="row" data-ng-if="mdView.current.record.resourceConstraints">
			<div class="col-md-4" data-translate="">resourceConstraints</div>
			<div class="col-md-8"> <span data-ng-repeat="c in mdView.current.record.resourceConstraints track by $index">{{c}}<br/></span></div>
		</div>
		
		<div class="row" data-ng-if="mdView.current.record.legalConstraints">
			<div class="col-md-4" data-translate="">legalConstraints</div>
			<div class="col-md-8"><span data-ng-repeat="c in mdView.current.record.legalConstraints track by $index">{{c}}<br/></span></div>
		</div>
		
		
		<div class="row" data-ng-if="mdView.current.record.status_text.length > 0">
			<div class="col-md-4" data-translate="">resourceStatus</div>
			<div class="col-md-8"><span data-ng-repeat="s in mdView.current.record.status_text">{{s}}</span></div>
		</div>
		
		<section data-ng-if="mdView.current.record.creationDate ||
                             mdView.current.record.publicationDate ||
                             mdView.current.record.revisionDate ||
                             mdView.current.record.tempExtentBegin ||
                             mdView.current.record.tempExtentEnd">
          <h4>
            <i class="fa fa-fw fa-clock-o"></i>
            <span data-translate="">tempExtent</span>
          </h4>

          <p>
            <dl data-ng-show="mdView.current.record.creationDate">
                <dt data-translate>creationDate</dt>
                <dd data-gn-humanize-time="{{mdView.current.record.creationDate}}"
                    data-format="YYYY-MM-DD"/>
            </dl>
            <dl data-ng-show="mdView.current.record.publicationDate">
              <dt data-translate>publicationDate</dt>
              <dd data-gn-humanize-time="{{mdView.current.record.publicationDate}}"
                  data-format="YYYY-MM-DD"/>
            </dl>
            <dl data-ng-show="mdView.current.record.revisionDate">
              <dt data-translate>revisionDate</dt>
              <dd data-gn-humanize-time="{{mdView.current.record.revisionDate}}"
                  data-format="YYYY-MM-DD"/>
            </dl>
            <dl data-ng-show="mdView.current.record.tempExtentBegin ||
                              mdView.current.record.tempExtentEnd">
              <dt data-translate>tempExtentBegin</dt>
              <dd>
                <span data-gn-humanize-time="{{mdView.current.record.tempExtentBegin}}"/>
                &nbsp;<i class="fa fa-forward"></i>&nbsp;
                <span data-gn-humanize-time="{{mdView.current.record.tempExtentEnd}}"/>
              </dd>
            </dl>
          </p>
        </section></br>
		
	
        <h2 data-translate="">technicalInformation</h2>
		
        <div data-ng-if="mdView.current.record['geonet:info'].schema === 'iso19110'"
             data-gn-attribute-table-renderer="mdView.current.record.attributeTable">
        </div>

		<div class="row" data-ng-if="mdView.current.record.updateFrequency">
			<div class="col-md-4" data-translate="">updateFrequency</div>
			<div class="col-md-8">{{mdView.current.record.maintenanceAndUpdateFrequency_text}}</div>
		</div>
		
		<div class="row" data-ng-if="mdView.current.record.spatialRepresentationType">
			<div class="col-md-4" data-translate="">spatialRepresentationType</div>
			<div class="col-md-8">{{mdView.current.record.spatialRepresentationType_text}}</div>
		</div>
   <div class="row" data-ng-if="mdView.current.record.denominator">
			<div class="col-md-4" data-translate="">scale</div>
			<div class="col-md-8"><span data-ng-repeat="d in mdView.current.record.denominator"
                      class="gn-scale">{{d}} </span></div>
		</div>
		<div class="row" data-ng-if="mdView.current.record.resolution">
			<div class="col-md-4" data-translate="">resolution</div>
			<div class="col-md-8"><span data-ng-repeat="r in mdView.current.record.resolution">{{r}} </span></div>
		</div>
		<div class="row" data-ng-if="mdView.current.record.crs">
			<div class="col-md-4" data-translate="">crs</div>
			<div class="col-md-8">{{mdView.current.record.crs}}</div>
		</div>
		<div class="row" data-ng-if="mdView.current.record.format">
			<div class="col-md-4" data-translate="">format</div>
			<div class="col-md-8"><span data-ng-repeat="f in mdView.current.record.format" class="badge">{{f}} </span></div>
		</div>
         <div class="row" data-ng-if="mdView.current.record.lineage">
			<div class="col-md-4" data-translate="">lineage</div>
			<div class="col-md-8"><span data-ng-bind-html="mdView.current.record.lineage | newlines"/></div>
		</div>
		
		<div data-gn-related="mdView.current.record"
                     data-types="source"
                     data-title="{{'sourceDatasets' | translate}}">
                </div>
				
        <div data-gn-related="mdView.current.record"
             data-types="fcat"
             data-title="{{'featureCatalog' | translate}}">
        </div>
        <div data-gn-related="mdView.current.record"
             data-types="siblings|associated|related"
             data-title="{{'siblings' | translate}}">
        </div>

       
	</div>
    <div role="tabpanel" class="tab-pane" id="metadata">

        <a class="btn btn-default btn-sm"
           data-ng-href="xml.metadata.get?id={{mdView.current.record.getId()}}">
          <i class="fa fa-file-code-o"/>
          <span data-translate="">metadataInXML</span>
        </a>
		
		<div class="row">
			<div class="col-md-4" data-translate="">contact</div>
			<div class="col-md-8"><div data-ng-if="mdView.current.record.getContacts().metadata">
                {{mdView.current.record.getContacts().metadata}}</div>
              </div>
		</div>
		<div class="row">
			<div class="col-md-4" data-translate="">metadataLanguage</div>
			<div class="col-md-8"><span data-ng-repeat="l in mdView.current.record.mdLanguage">
                  {{l | translate}}
                </span></div>
		</div>
		<div class="row">
			<div class="col-md-4" data-translate="">uuid</div>
			<div class="col-md-8">{{mdView.current.record['geonet:info'].uuid}}</div>
		</div>
	
	</div>
    <div role="tabpanel" class="tab-pane" id="relations">
	
	
		<div data-gn-related="mdView.current.record" style="border:none"
             data-types="online"
             data-title="{{'downloadsAndResources' | translate}}">
        </div>

        <div data-gn-related="mdView.current.record" style="border:none"
             data-types="parent|children|service|dataset"
             data-title="{{'associatedResources' | translate}}">
        </div>
		
        <section data-ng-if="mdView.current.record.contacts.resource">
          <h4>
            <i class="fa fa-fw fa-envelope"></i>
            <span data-translate="">contact</span>
          </h4>
       
            {{mdView.current.record.contacts.resource}}
          
        </section></br>
	
	</div>
    <div role="tabpanel" class="tab-pane" id="inspire">
		
		<div data-ng-if="mdView.current.record.inspirethemewithac.length > 0 ||
                          mdView.current.record.inspirethemewithac.length > 0" class="row">
			<div class="col-md-4" data-translate="">inspireThemes</div>
			<div class="col-md-8">
				<a data-ng-repeat="cat in mdView.current.record.inspirethemewithac"
                     class="iti-box full {{cat.split('|')[0]}} {{cat.split('|')[0]}}-{{langs[lang]}}"
                     title="{{cat.split('|')[1]}}">
                  <div class="icon"><span class="iti-{{cat.split('|')[0]}}"></span> {{cat.split('|')[1]}}</a></div>
			</div>
		</div>
		
	</div>
  </div>

</div>
		
	
         
      </div>

      <div class="col-md-4 gn-md-side">
        <section data-ng-if="mdView.current.record.overviews.length > 0">
          <!-- todo: show only the small thumbnail and link to the large thumbnail -->

          <span data-ng-repeat="img in mdView.current.record.overviews">
          <img data-gn-img-modal="md" style="max-height:150px;"
               class="img-thumbnail"
               alt="{{img.label}}"
               data-ng-src="{{img.url}}"/>
          </span><br/>
        </section>

        <section data-ng-if="mdView.current.record.geoBox.length > 0">
          
          <p data-ng-if="mdView.current.record.geoDesc">
          <ul>
            <li data-ng-repeat="d in mdView.current.record.geoDesc">{{d}}</li>
          </ul>
          </p>
          <!-- TODO: add a dynamic map -->
          <p data-ng-repeat="bbox in mdView.current.record.geoBox">
            <img class="gn-img-thumbnail img-thumbnail gn-img-extent" 
               data-ng-src="region.getmap.png?mapsrs=EPSG:3857&width=250&background=osm&geomsrs=EPSG:4326&geom={{mdView.current.record.getBoxAsPolygon($index)}}"/>
          </p></br>
        </section>

      </div>

    </div>
  </div>
</div>

<div data-gn-modal="" class="onlinesrc-popup"
  data-gn-popup-options="{title:'feedbackTitle'}"
  id="feedback-popup">
  <h2>Een terugmelding maken richting data provider</h2>
  Naam: <input type="text"><br/>
  Functie: <input type="text"><br/>
  Organisatie: <input type="text"><br/>
  Email: <input type="text"><br/>
  Telefoon: <input type="text"><br/>
  Type: <select><option>Vraag</option><option>Fout</option><option>Opmerking</option><option>Contact</option></select><br/>
   Type: <select><option>Metadata inhoud</option><option>Data</option><option>Service</option><option>Support</option></select><br/>
  Opmerking:<br/> <textarea rows=6 cols=40></textarea><br/>
  <input type=submit value="Verzenden">
  <input type=reset value="Annuleren">
  
</div>