<form id="ngr-search-form"
      role="form">
  <!--ANY full text search input-->
  <div class="row">
	<div class="col-md-3 col-md-offset-1">
		<div class="form-group">
            <label for="any">Wat voor soort data zoekt u?</label>
            <input type="text"
                   id="any"
                   class="form-control input-lg"
                   autofocus=""
                   data-ng-model="searchObj.params.any"
                   data-ng-model-options="modelOptionsForm"
                   placeholder="{{'anyPlaceHolder' | translate}}"
                   data-ng-keyup="$event.keyCode == 13 && triggerSearch()"
                   data-typeahead="address for address in getAnySuggestions($viewValue)"
                   data-typeahead-loading="anyLoading"
                   data-typeahead-min-length="1"
                   data-typeahead-focus-first="false" />
	    </div>
     </div>
	<div class="col-md-3">
	    <div class="form-group has-feedback">
		    <label for="location">Op welke locatie?</label>
              <input type="text"
                     id="location"
                     class="form-control input-lg">
		    <span class="form-control-feedback">
			    <i class="fa fa-map-marker fa-2x"></i>
		    </span>
        </div>
    </div>
	<div class="col-md-4">
	 <div class="form-group" style="margin-top:25px">
         <label for="">&nbsp;</label>
         <button type="button"
                      data-ng-click="triggerSearch()"
                      class="btn btn-primary btn-lg">
                <i class="fa fa-search"></i>
                Toon resultaten
              </button>
              <button type="button"
                      data-ng-click="resetSearch(searchObj.defaultParams);"
                      title="{{'ClearTitle' | translate}}"
                      class="btn btn-default btn-lg">
                  <i class="fa fa-times"></i>
                  Reset
              </button>
        </div>
      </div>
    </div>
		  
    <div class="row">

       <div class="col-md-4 col-md-offset-1" style="margin-top:-15px;">
		    <button type="button"
                      class="btn btn-link"
                      data-ng-model="searchObj.advancedMode"
                      btn-checkbox=""
                      btn-checkbox-true="1"
                      btn-checkbox-false="0">
                 Uitgebreid zoeken <i class="fa fa-arrow-down"></i>
              </button>
              </div>
			  </div>
          </div>
        </div>
        <div class="col-lg-3">
        </div>
      </div>
      <div class="row">
        <!--Advanced search form-->
        <div data-ng-show="searchObj.advancedMode"
             class="gn-search-filter col-lg-12">


          <div class="row">
            <div class="col-md-4">
              <h3 data-translate="">what</h3>
              <div class="form-group">
                <label for="categoriesF"
                       class="col-md-4 col-sm-12 control-label"
                       data-translate="">categories</label>

                <div class="col-sm-8">
                  <input type="text" id="categoriesF" value=""
                         class="form-control"
                         gn-typeahead="categoriesOptions"
                         gn-values="searchObj.params._cat"/>
                </div>
              </div>
              <div class="form-group">
                <label for="keywordsF"
                       class="col-md-4 col-sm-12 control-label"
                       data-translate="">keywords</label>

                <div class="col-sm-8">
                  <input type="text" id="keywordsF" value=""
                         class="form-control"
                         gn-values="searchObj.params.keyword"
                         gn-typeahead="keywordsOptions"/>
                </div>
              </div>
              <div class="form-group">
                <label for="orgNameF"
                       class="col-md-4 col-sm-12 control-label"
                       data-translate="">orgName</label>

                <div class="col-sm-8">
                  <input type="text" id="orgNameF" value=""
                         class="form-control"
                         gn-values="searchObj.params.orgName"
                         gn-typeahead="orgNameOptions"/>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <h3 data-translate="">when</h3>
              <div data-gn-period-chooser="resourcesCreatedTheLast"
                   data-date-from="searchObj.params.creationDateFrom"
                   data-date-to="searchObj.params.creationDateTo">
              </div>

              <div data-gn-period-chooser="recordsCreatedTheLast"
                   data-date-from="searchObj.params.dateFrom"
                   data-date-to="searchObj.params.dateTo">
              </div>
            </div>
            <div class="col-md-5">

            </div>
          </div>
        </div>
     
</form>