<div class="container" data-ng-controller="GnLoginController">
  <div class="col-lg-6">
      <form class="form-horizontal" name="gnSigninForm" action="{{formAction}}"
            method="post" role="form" data-ng-if="user['@authenticated'] != 'true'">
      <div class="form-group">
        <label class="col-sm-3 control-label"
               for="inputUsername" data-translate="">username</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="inputUsername" name="username" autofocus=""
            placeholder="{{'username' | translate}}" data-ng-model="signinUsername" required=""/>
        </div>
      </div>
      
      <div class="form-group">
        <label class="col-sm-3 control-label" 
          for="inputPassword" data-translate="">password</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" id="inputPassword" name="password"
            data-ng-model="signinPassword" placeholder="{{'password' | translate}}" required=""/>
        </div>
      </div>
      
      <input type="hidden" name="redirectUrl" data-ng-model="redirectUrl" value="{{redirectUrl}}"/>
      <button type="submit" class="btn btn-primary pull-right" data-ng-disabled="!gnSigninForm.$valid">
        <i class="fa fa-sign-in"/>
        <span data-translate="">signIn</span>
      </button>
      <div class="clearfix"></div>
    </form>

    <br/>
    <p class="alert alert-danger"
       data-ng-show="signinFailure">
      <span data-translate="">signinFailure</span>
      
    </p>
  </div>
</div>
